<div class="section-edit">
    <div>
        <form>
            <div>
                <div>
                    <label for="title">Title</label>
                    <input class="section-edit-input" type="text" id="title" value={{section.title}} #titleInput />
                </div>
                <div>
                    <label for="subtitle">Subtitle</label>
                    <input class="section-edit-input" type="text" id="subtitle" value={{section.subtitle}} #subtitleInput />
                </div>
                <div>
                    <label for="period">Period</label>
                    <input class="section-edit-input" type="text" id="period" value={{section.period}} #periodInput />
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea rows="8" cols="50" class="section-edit-input" type="text" id="description" value={{section.description}} #descriptionInput></textarea>
                </div>
            </div>
            <div>
                <div class="btns">
                    <button class="btn" type="button" (click)="onSave()">Save</button>
                    <button class="btn" type="button" (click)="onClear()">Clear</button>
                    <a class="cancel" (click)="onCancel()">cancel</a>
                </div>
            </div>

        </form>
    </div>
</div>