<br>
<div *ngIf="!section.isEditing; else writeMode">
    <h3>{{section.title}}</h3>
    <h5>{{section.subtitle}} - {{section.period}}</h5>
    <p>{{section.description}}</p>
</div>
<ng-template #writeMode>
    <app-resume-section-edit [section]="section"></app-resume-section-edit>
</ng-template>


<div style="cursor: pointer; border: 1px solid grey; display: table-cell;" (click)="editSection()"> Edit </div>
<div style="cursor: pointer; border: 1px solid grey; display: table-cell;" (click)="deleteSection()"> Delete </div>

<br>