<!-- Header -->
<app-header></app-header>

<!-- Wrapper -->
<div id="wrapper">
  <!-- Main -->
  <div id="main">
    <!-- One -->
    <app-about></app-about>

    <!-- Skills -->
    <app-skills></app-skills>

    <!-- Work Experience -->
    <app-work-experience></app-work-experience>

    <app-contact></app-contact>
  </div>
</div>


<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.scrolly.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>