.left-bar {
    border-left: 3px solid #1976d2;
    padding-left: .8em;
}

.each-section {
    margin-top: 2em;
}

.sections {
    border: 1px solid grey;
    margin-top: 5em;
    margin-bottom: 2em;
}

.addSection {
    margin-top: 2em;
}