<article id="work" class="wrapper style2">
    <div class="container">
        <header>
            <h2>Here's what I do better.</h2>
            <p>APIs are crucial for any digital business, here is what I can do for your APIs.</p>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fa-comments"></span>
                    <h3>API Management</h3>
                    <p>A dashboard where you can manage your APIs, a developer portal that allows developers to gain access to your resources as fast <strong>YOU</strong> wish. That's is it, you're in control. </p>
                </section>
            </div>
            
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon solid featured fa-lock"></span>
                    <h3>Secure</h3>
                    <p>Have all modern API security standards working for you. OWASP recomendations followed seriously.</p>
                </section>
            </div>

            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon solid featured fa-book"></span>
                    <h3>Documentation</h3>
                    <p>Have your APIs documented, whether you are willing to spend time writing them or not. Use our wizard tool to create your documentation in minutes or spend some more time and make it unique.</p>
                </section>
            </div>

            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon solid featured fa-heartbeat"></span>
                    <h3>Monitoring</h3>
                    <p>Do you know who is accessing your resources? Do you know what your clients need to most? Understand your API usage.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon solid featured fa-chart-line"></span>
                    <h3>Analitics</h3>
                    <p>Get customized reports and understand how your APIs are used. </p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon solid featured fa-glasses"></span>
                    <h3>Enterprise Consulting</h3>
                    <p>Your software is unique and so could be your requirements. Let us know.</p>
                </section>
            </div>
        </div>

        <footer>
            <p>Would like a demonstration?</p>
            <a href="#demonstration" class="button large scrolly">Let's see how it works</a>
        </footer>
    </div>
</article>